body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
    justify-content: space-around;
}

.tab {
    padding: 10px 20px;
    text-align: center;
    background-color: #444;
    border: 1px solid #333;
}

.tab:hover {
    background-color: #555;
}

.tab-content {
    padding: 20px;
    display: none;
}

.active-tab {
    background-color: #333;
    font-weight: bold;
}

.active-content {
    display: block;
}

p {
    text-indent: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

canvas {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 0;
}